<div class="user-entries-start-training">
	<div>
		<div>Click the start button below to start this phase of the experiment</div>
	</div>
	<input class="go-to-training" type="button" value="Start">
</div>