// Place all the styles related to the UserEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_entries {  
  background: lightgray;
  
  .user-entries-start, .user-entries-start-training {
    text-align: center;
    > div {
      margin-top: 25%;
      > div {
        display: inline-block;
        text-align: justify;
        width: 75%;
      }
    }
    input {
      margin-top: 20px;
    }
  }
  
  //  Styling for Training
  .user-entries-training {
    text-align: center;
    .training-stimulus {
      display: none;
    }
  }

  //  Styling for Testing
  .user-entries-testing {
    text-align: center;
    .main-stimuli {
      .img-wrapper, .audio-wrapper {
        display: none;
      }
    }
    .next {
      display: none;
    }
    
    .choices-wrapper {
      text-align: left;
      .choice {
        display: inline-block;
        width: 20%;
        margin: 10px;
        text-align: center;
      }
    }
    
    &.phone-to-sem {
      
    }
    
    &.sem-to-phone {
    }
  }
}

img {
  max-width: 100%;
}

audio {
  display: none;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}