<p id="notice"><%= notice %></p>

<p>
  <b>Locked:</b>
  <%= @iterative_chain.locked %>
</p>


<%= link_to 'Edit', edit_iterative_chain_path(@iterative_chain) %> |
<%= link_to 'Back', iterative_chains_path %>
